body {
	padding: 3em;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	background-image: url("https://uwu.cam/static/media/uwu.33cd4cf0.gif");
	background-size: 250px;
}

textarea {
    resize: none;
}

.inlineBlock {
    display: inline-block;
}

.topAligned {
    vertical-align: top;
}
